# Secrets — ne jamais committer
.env
# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.imls
.idea/

# Firebase
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# OS
.DS_Store
